/* deep red #951903 */
/* orange #F8A147 */
/*hero image*/
.fs-header:before {
    background-image: 
   url("https://chabadoldmontreal.com/media/images/1296/YekK12961234.png");
   background-size:100% 100%;
   }
   @media screen and (max-width: 700px) {
   .fs-header:before {
    background-image: 
   url("https://chabadoldmontreal.com/media/images/1296/vbTX12961259.png");
   background-size:100% 100%;
   }
   }
   /*text hero*/
   .fs-header .page-header h1 small{
    color:white !important;
    font-size:30px !important;
   }

/*buttons */
.donate-button .donate-button-text {
    background:#f5de68 !important;
  border-radius: 25px !important;
  color:#16396a !important;
  }
  .donate-button .donate-button-text:hover{
    background: #FFF !important;
  }

/*goal section*/
    .jumbotron.fs-header {
        border-bottom: 4px solid #FFF;
    }
    .fs-goal{
    background:#FFF ;
    }
    .fs-goal .fs-goal-text strong , .fs-goal .fs-goal-graph-container .fs-goal-graph-text{
    color:#16396a;
    }
    /*goal meter not filled and then filled*/
    .fs-goal-graph-fill{
        background:#16396a !important;
    }
    .fs-goal-graph{
        background: #f5de68 !important;
    }
/*countdown*/
    .fs-countdown {
    background:#f5de68;
    }
    body > div.fs-root > div > div.fs-campaign-info > div > div > div.col-md-6.fs-countdown.text-center.d-js-viewport-in > h3,.fs-footer .row>div:nth-of-type(1) h3, .fs-countdown .fs-countdown-widget .fs-countdown-unit .fs-countdown-description, .fs-countdown .fs-countdown-widget .fs-countdown-sep{
    color:#16396a;
    }
    /*maximize in countdown*/
    .fs-countdown h3 strong {
        color:#16396a;
    }
    /*left until...*/
    h3.fs-countdown-message {
        color: #16396a !important;
    } 
    