@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

/*header*/
/*donate button*/
.fs-header-top .fs-top-tools .fs-btn{
    background:#f5de68 !important;
    border-radius: 25px !important;
}
a.a2a_button_facebook, a.a2a_button_twitter, a.a2a_button_email, a.a2a_dd{
    background:#f5de68 !important;
}
    /*remove logo*/
.fs-header-top .fs-logo-container{
    display:none !important;
}
.fs-header-top{
    border:none !important;
}
/*hero image*/
.fs-header:before {
    background-image: 
   url("https://chabadoldmontreal.com/media/images/1296/AqZd12962607.png");
   background-size:100% 100%;
   }
   @media screen and (max-width: 700px) {
   .fs-header:before {
    background-image: 
   url("https://chabadoldmontreal.com/media/images/1296/gthJ12962593.png");
   background-size:100% 100%;
   }
   }
   /*text hero*/
   .fs-header .page-header h1 small{
    color:white !important;
    font-size:30px !important;
   }
   .page-header .a-delay-200ms{
    color:#f5de68 !important;
    font-family: "Modak", system-ui;
   }
    .page-header .a-delay-400ms{
    color:#fff !important;
   }

/*buttons */
.donate-button .donate-button-text {
    background:#f5de68 !important;
  border-radius: 25px !important;
  color:#16396a !important;
  }
  .donate-button .donate-button-text:hover{
    background: #FFF !important;
  }

/*goal section*/
    .jumbotron.fs-header {
        border-bottom: 4px solid #FFF;
    }
    .fs-goal{
    background:#FFF ;
    }
    .fs-goal .fs-goal-graph-container .fs-goal-graph-text span,.fs-goal .fs-goal-text .fs-goal-amount, .fs-goal .fs-goal-text strong , .fs-goal .fs-goal-graph-container .fs-goal-graph-text{
    color:#16396a;
    }
    /*goal meter not filled and then filled*/
    .fs-goal-graph-fill{
        background:#f5de68 !important;
    }
    .fs-goal-graph{
        background: #16396a !important;
    }
/*countdown*/
    .fs-countdown {
    background:#f5de68;
    }
    .fs-countdown-number, body > div.fs-root > div > div.fs-campaign-info > div > div > div.col-md-6.fs-countdown.text-center.d-js-viewport-in > h3,.fs-footer .row>div:nth-of-type(1) h3, .fs-countdown .fs-countdown-widget .fs-countdown-unit .fs-countdown-description, .fs-countdown .fs-countdown-widget .fs-countdown-sep{
    color:#16396a;
    }
    /*maximize in countdown*/
    .fs-countdown h3 strong {
        color:#16396a;
        font-family: "Modak", system-ui !important;
    }
    /*left until...*/
    h3.fs-countdown-message {
        color: #16396a !important;
        font-family: ;
    } 
    /*full width*/
    .fs-countdowndonate{
        width:100% !important;
        padding-right:0px !important;
        padding-left:0px !important;
    }
    
/*section next to countdown*/
   .fs-donate {
        background:#16396a
    }

    /*body > div.fs-root > div > div.fs-campaign-info > div > div > div.col-md-6.fs-donate.fs-donatable.text-center.vertical-align.d-js-viewport-in > div.fs-left-border-triangle > svg > polygon{
    fill:#F8A147
    }*/
    div.fs-top-border-triangle > svg > polygon, div.fs-left-border-triangle > svg > polygon{
        fill:#16396a;
    }

    /*dollar sign*/
    .fs-donate .fs-donate-amounts {
        color:#FFF;
    }
    /*button*/
    .fs-donate .fs-btn, .fs-donate .fs-btn:hover{
        background-color: #FFF !important;
        border-radius: 25px !important;
        color:#16396a !important;
        font-size:medium !important;
        font-weight:bold !important;
    }
 
/*donate section*/
   .donar-section{
    background: #16396a;
    }
    .donar-section .nav-tabs .nav-item.active .nav-link, .donar-section .nav-tabs .nav-item:hover .nav-link,.donar-section .nav-tabs .nav-item:hover .nav-link{
        border-bottom:3px solid #FFF !important;
    }
    .donar-section .nav-tabs .nav-item.active .nav-link, .donar-section .nav-tabs .nav-link{
        color:#FFF !important;
    }
     /*"view all donors / be the first"*/
   .js-donors-list .fs-btn,.js-donors-list .fs-btn:hover{
    background:#f5de68;
    border-radius: 25px !important;
    }
    /*name of team in donor tag*/
    .team-up span{
        color:#f5de68 !important;
    }

/*team section*/
.donar-section .right-filters-data .form-control{
    border-radius:25px !important;
}
.donar-section .right-filters-data .input-group{
    border-radius:35px !important;
}
.right-filters-data .input-group .input-group-addon{
    border-radius: 30px !important;
}
    .team-members .team-users{
        border-radius:60px !important;
    }
    /*left button*/
    a.view-btn.btn.js-team-detail, a.view-btn.btn.js-team-detail:hover {
        background:#f5de68 !important;
        border-radius: 25px !important;
    }
    /*right button*/
    a.view-btn.btn.donate-btns.js-team-open-donate.common-donate, a.view-btn.btn.donate-btns.js-team-open-donate.common-donate:hover{
        background: #16396a !important;
        border-radius: 25px !important;
    }
    /*filler*/
    .progress-flex .progress .progress-bar{
        background:#f5de68 !important;
    }
    
/*team page*/

    /*button*/
    .team-donate-btn.btn.team-tab.js-team-open-donate.common-donate{
        border-radius: 25px !important;
    }    
    /*tag with amount*/
    .donate-members .donates_user .donate-A{
        background:#f5de68 !important;
    }
    .donate-triangle{
       border-right: 26px solid #f5de68 !important;
    }
    
    
    /*top page*/
    /*tick*/
    .progress-flex .check-mark{
        color:#f5de68 !important;
    }
    /*button*/
    a.team-donate-btn.btn.donate-now.js-team-open-donate.common-donate{
        border-radius: 25px !important;
    }
/*about campaign*/
#Description h3, #about_modal h3{
    color:#16396a !important;
    font-family: "Modak", system-ui !important;
}
#Description h4, #about_modal h4{
    color:#16396a;
   
}
/*footer*/
    .fs-footer {
        background: #f5de68;
        border-top: 1px solid #f5de68;
    }
    .fs-footer .row>div:nth-of-type(1) h3, .fs-footer .row>div:nth-of-type(2) h3 , address {
        color:#FFF;
    }

/*donate page*/
    /*header*/
    /*.fs-full-donate-form .fs-donate-header{
        background:#3B244D;
        
    }
    .fs-full-donate-form .fs-donate-header .fs-text {
        color:#FFF;
    }
        /*titles*/
        .title, .recurring-length-label, .fs-full-donate-form .fs-donate-body .fs-donate-section h3, .content  {
    color:#16396a !important;
    font-family: "Modak", system-ui !important;
    }
    /*amount boxes*/
    .fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option span.fs-option-name>*{
        background-color: #f5de68;
        color:#16396a;
        border-radius:25px;
    }
    /*amount boxes when selected*/
    .fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option.fs-other label.selected, .fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option.selected .fs-option-name>div {
        background:#16396a;
        color:#FFF
    
    }
    /*button*/
    button.btn.fs-btn.fs-btn-donate.fs-donate-body-horizontal-padding {
        border-radius: 25px !important;
        background:#f5de68 !important
    }
    
    /*payment information boxes*/
    /*.fs-full-donate-form .fs-donate-body .fs-donate-section .fs-payment-method .radio-inline span {
        border:1px solid #3B244D;
        border-radius:25px;
    }
    .fs-full-donate-form .fs-donate-body .fs-donate-section .fs-payment-method .radio-inline input:checked+span:before {
        border-top:10px solid #3B244D;
    }
    .fs-full-donate-form .fs-donate-body .fs-donate-section .fs-payment-method .radio-inline input:checked+span{
        background:#3B244D !important;
        color:#FFF !important;
    }